#    _ __   __ _ _ __   ___  _ __ ___
#   | '_ \ / _` | '_ \ / _ \| '__/ __|
#  _| | | | (_| | | | | (_) | | | (__
# (_)_| |_|\__,_|_| |_|\___/|_|  \___|

include /usr/share/nano/*.nanorc

set autoindent
set speller "aspell -x -c "
set tabsize 2
set tabstospaces
